.navbar {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.menuList{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    min-width: 20%;
    justify-content: space-around;
    /* background-color: green; */
}

.menuListLeft{
    margin-left: 1%;
}

.menuListRight{
    margin-right: 1%;
}

.menuItem{
    /* background-color: red; */
    min-width: 25%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuItemLeft{
    margin-right: 4px;
}


.link{
    text-decoration: none;
}

.navbarText{
    font: 112.5%/1.625 -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-style: normal;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    color: #C8C3BC;
    font-weight: 700;

}

